@use super::super::statics;
@use super::font_face;
@use crate::render::*;

@(_ctx: &TemplateContext, title: &str, head: Content, meta: Content, content: Content, foot: Content)

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>@title - 海上的宫殿</title><!-- TODO: blog title -->
@:font_face()
		<link href="/static/theme/@(statics::Soha_Notebook_Icons_css.name)" rel="stylesheet">
		<link href="/static/theme/@(statics::paper_css.name)" rel="stylesheet">
@:meta()
@:head()
	</head>
	<body>
		<header>
			<div class="tape"><div></div></div>
			<h1>海上的宫殿<!-- TODO: blog title --></h1>
			<!-- TODO: nav bar -->
			<div class="header-nav">
				<a href="/">主页</a>
			</div>
		</header>
		<div class="container">
@:content()
		</div>
		<footer>Designed by <a href="https://sohaj.in">Soha Jin</a>.</footer>
@:foot()
		<script src="/static/theme/@(statics::paper_js.name)"></script>
	</body>
</html>
