@use sohablog_lib::interfaces::models::Comment;
@use crate::render::*;

@(ctx: &TemplateContext, comment: &Box<dyn Comment>, is_child: bool, children: Content)

<div class="paper line padding-small one-comment" data-id="@comment.id()">@if is_child {
	<div class="tape"><div></div></div>}
	<div class="user-avatar">
		<a@if let Some(link) = comment.author().link() { href="@link"}><img src="@comment.author().avatar_url("")" /></a>
		<!-- TODO: default avatar image -->
		<span><a@if let Some(link) = comment.author().link() { href="@link"}><b>@comment.author().name()</b></a></span>
		<span><small>@comment.time().naive_local()</small></span>
		<span><button data-id="@comment.id()" class="reply-to-comment">回复</button></span>
	</div><!-- TODO: reply -->
	@:nl2br(ctx, comment.text())

	@:children()
</div>
