@use super::misc::base;
@use super::misc::csrf_input;
@use super::misc::comment_block;
@use sohablog_lib::interfaces::models::Content as ContentInterface;
@use sohablog_lib::interfaces::models::Author as AuthorInterface;
@use sohablog_lib::render::*;

@(ctx: &TemplateContext, title: &str, post: Box<ContentInterface>, previous_author: Option<Box<AuthorInterface>>)

@:base(ctx, title, {}, {}, {
	<div class="paper grid">
		<article>
			<h1><a href="@post.link()">@if let Some(t) = post.title() {@t} else {Untitled}</a></h1>
			<span class="meta">@date_format(post.time(), "%Y-%m-%d") / @(post.user().name()) / @if let Some(cat) = &post.category() {@cat.name()} else {Uncategorized}</span>
			
			@:markdown_to_html(post.content().as_str())
		</article>
		<dl>
			<dt><i class="icon-tag"></i></dt>
			<dd>@(post.get_tags_name().join(", "))</dd>
		</dl>
	</div>
	<!-- TODO: -->
	<!-- <p>
		<b>上一篇: </b>
		@if let Some(p) = post.get_neighbor_post(true) {
		<a href="@p.link()">@if let Some(t) = p.title() {@t} else {Untitled}</a>
		} else {
		<i>没有了</i>
		}
	</p>
	<p>
		<b>下一篇: </b>
		@if let Some(p) = post.get_neighbor_post(false) {
		<a href="@p.link()">@if let Some(t) = p.title() {@t} else {Untitled}</a>
		} else {
		<i>没有了</i>
		}
	</p> -->

	<div class="paper line padding-small">
		<form id="comment-form" action="@post.get_comment_url()" method="POST">
			@:csrf_input(ctx)
			<h2>评论</h2>
			<textarea placeholder="在这里写下你想说的……"></textarea>
			@if let Some(u) = &ctx.user {<i>您已登入，将作为 @u.name() 发表。</i>} else {<div class="input-group">
				<input placeholder="名字" type="text" name="name" @if let Some(o) = &previous_author {value="@o.name()" }/>
				<input placeholder="邮箱" type="text" name="mail" @if let Some(o) = &previous_author {@if let Some(s) = &o.mail() {value="@s" }}/>
				<input placeholder="网站(选填)" type="text" name="link" @if let Some(o) = &previous_author {@if let Some(s) = &o.link() {value="@s" }}/>
			</div>}
			<textarea name="text"></textarea>
			<button style="margin-top: .6em;">发送</button><!-- submit -->
			<button style="margin-top: .6em; display: none;" id="cancel-reply">取消回复</button>
		</form>
	</div>
	@for comment in post.get_parent_comments() {@:comment_block(&comment, false, {@for comment in comment.children() {@:comment_block(&comment, true, {})}})}
}, {})
